{% if (app.isGranted('ROLE_USER')) %}
    <div class="alert-danger">
        {% include 'flash-error.twig' %}
    </div>

    <form action="{{ url('guestbook-save') }}" {{ form_enctype(form) }} method="POST" role="form">
        {{ form_widget(form) }}

        <div class="form-group"></div>
        <button type="submit" class="btn btn-default">{{ 'save'|trans() }}</button>
    </form>
{% else %}
    <a href="{{ url('login') }}">{{ 'login'|trans() }}</a>
    or
    <a href="{{ url('register') }}">{{ 'register'|trans() }}</a>
    to comment
{% endif %}