{% extends 'layout.twig' %}

{% block header %}
    {% include 'header.twig' with {'header': 'Edit Settings'} %}
{% endblock %}

{% block body %}

    <div class="alert-danger">
        {% include 'flash-error.twig' %}
    </div>

    <form method="POST" action="{{ path('setting-save', {'id': setting.getId()}) }}">
        <div id="setting-edit">
            <div>
                <label class="required" for="setting_message">{{ 'Name'|trans() }}</label>
                <input type="text" value="{{ setting.getValue() }}" name="setting_value" id="setting_value" required="required" />
            </div>
        </div>
        <button type="submit">{{ 'save'|trans() }}</button>
    </form>

{% endblock %}