{% extends 'layout.twig' %}

{% block header %}
    {% include 'header.twig' with {'header': 'Settings'} %}
{% endblock %}

{% block body %}

    {% if settingList|length > 0 %}
        <div>
        <table class="table">
            <thead>
                <th>{{ 'Name'|trans() }}</th>
                <th>{{ 'Value'|trans() }}</th>
                <th>{{ 'Edit'|trans() }}</th>
            </thead>
            <tbody>
                {% for setting in settingList %}
                    <tr>
                        <td>{{ setting.getName() }}</td>
                        <td>{{ setting.getValue() }}</td>
                        <td>
                            <a href="{{ path('setting-edit', {'id': setting.getId()}) }}">
                                {{ 'Edit'|trans() }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    {% endif %}

{% endblock %}