{% extends 'layout.twig' %}

{% block header %}
    {% include 'header.twig' with {'header': 'Guestbook'} %}
{% endblock %}

{% block body %}

    {% if messageList|length > 0 %}
        <table class="table table-striped">
            <thead>
                <th>Message</th>
                <th>Name</th>
                <th>Operation</th>
            </thead>
            <tbody>
            {% for message in messageList %}
                <tr>
                    <td>{{ message.message }}</td>
                    <td>{{ message.username }}</td>
                    <td>
                        {% if (app.isGranted('ROLE_USER')) and (message.user_id == app.user.id) %}
                            {% include 'guestbook/delete.twig' with {'messageId' : message.id} %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'guestbook/pagination.twig' %}

    {% endif %}

    {% include 'guestbook/form.twig' %}

{% endblock %}