{% extends 'layout.twig' %}

{% block header %}
    {% include 'header.twig' with {'header': 'About'} %}
{% endblock %}

{% block body %}

<ul>
    <li><s>Добавить запись</s></li>
    <li><s>Просмотр списка с навигацией</s></li>
    <li><s>Редактируемые настройки ("/app/conf/")</s></li>
    <li><s>Инструкция</s></li>
    <li><s>Валидация данных</s></li>
    <li><s>Авторизация</s></li>
    <li><s>Удаление своих | </s>Редактирование</li>
    <li><s>Настройки через web (perPage, title)</s></li>
    <li>Инсталлятор</li>
    <li>Один файл</li>
    <li>Загрузка картинок</li>
</ul>
    
{% endblock %}
