<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ app.getTitle() }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS for the 'Heroic Features' Template -->
    <link href="/assets/bootstrap/css/heroic-features.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Softline</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/guestbook/page/1">{{ 'Guestbook'|trans() }}</a></li>
                <li><a href="{{ url('setting') }}">{{ 'Settings'|trans() }}</a></li>
                {% if app.isGranted('ROLE_USER') %}
                    <li>
                        <a href="{{ url('logout') }}">
                            {{ 'Logout'|trans() }} ({{ app.user().getUsername() }})
                        </a>
                    </li>
                {% else %}
                    <li><a href="{{ url('login') }}">{{ 'Login'|trans() }}</a></li>
                    <li><a href="{{ url('register') }}">{{ 'Register'|trans() }}</a></li>
                {% endif %}
            </ul>
            <div class="logo"></div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">

    <hr>

    {% block header %}
    {% endblock %}

    {% block body %}
    {% endblock %}

    <hr>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; MIT</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- JavaScript -->
<script src="/assets/bootstrap/js/jquery-1.10.2.js"></script>
<script src="/assets/bootstrap/js/bootstrap.js"></script>

</body>

</html>