{% extends 'layout.twig' %}

{% block header %}
    {% include 'header.twig' with {'header': 'Login'} %}
{% endblock %}

{% block body %}
    {% if error is not empty %}
        <div>
            {{ error|trans({}, 'security') }}
        </div>
    {% endif %}

    <form class="form-inline" role="form" action="{{ path('login_check') }}" method="POST">
        <div class="form-group">
            <label for="_username">{{ 'form.name'|trans({}) }}</label>
            <input type="text" name="_username" value="{{ last_username }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="_password">{{ 'form.password'|trans() }}</label>
            <input type="password" name="_password" class="form-control">
        </div>

        <div class="checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" checked type="checkbox"/>
            <label for="remember_me">{{ 'form.remember_me'|trans() }}</label>
        </div>

        <button type="submit" class="btn btn-default">{{ 'login'|trans() }}</button>
        <a href="{{ url('register') }}">{{ 'register'|trans() }}</a>
    </form>
{% endblock %}